@include importFont(400) {
  src:
          url(../fonts/woff2/Montserrat-Regular.woff2) format('woff2'),
          url(../fonts/woff/Montserrat-Regular.woff) format('woff'),
          url(../fonts/ttf/Montserrat-Regular.ttf) format('truetype');
}

@include importFont(500) {
  src:
          url(../fonts/woff2/Montserrat-Medium.woff2) format('woff2'),
          url(../fonts/woff/Montserrat-Medium.woff) format('woff'),
          url(../fonts/ttf/Montserrat-Medium.ttf) format('truetype');
}

@include importFont(600) {
  src:
          url(../fonts/woff2/Montserrat-SemiBold.woff2) format('woff2'),
          url(../fonts/woff/Montserrat-SemiBold.woff) format('woff'),
          url(../fonts/ttf/Montserrat-SemiBold.ttf) format('truetype');
}

@include importFont(700) {
  src:
          url(../fonts/woff2/Montserrat-Bold.woff2) format('woff2'),
          url(../fonts/woff/Montserrat-Bold.woff) format('woff'),
          url(../fonts/ttf/Montserrat-Bold.ttf) format('truetype');
}